body {
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background: rgba(1, 3, 17, 0.907);
    font-family: Inter;
}

.container {
    text-align: center;
    color: #fff;
    max-width: 100%;
}

.creede {
    display: flex;
    margin: 20px;
    width: 150px;
    height: 70px;
    margin: auto;
    padding: 10px;
}

.container_ {
    border-radius: 20px;
    background: #141414;
    padding-top: 20px;
    width: 547px;
    height: 444px;
}
 
.enter {
    padding-top: 15px;
}

#generateButton {
    padding: 10px 220px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

#generateButton a {
    color: #141414;
    text-decoration: none;
}

a:visited {
    color:#141414;
}