body {
    margin: 0;
    /* color: white; */
    font-family: Inter;
    background-color:#141414;

}

.contain {
    background-color: black;
}

.navbar {
    background-color: rgba(38, 38, 38, 1);
    padding: 10px 20px 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 45px;
}

.creede img {
    /* max-height: 40px; */
    width: 16px;
    height: 31px;
}

.start {
    display: flex;
    padding: 5px 1px; 
}

.get {
    background-color: rgb(10, 10, 10);
    border-radius: 15px;
    border: 1px solid black;
    height: auto 51px;
    width: auto 163px;
    padding: 14px 36px;
    font-size: 16px;
}

.sign {
    background-color: rgb(10, 10, 10);
    border-radius: 10px;
    border: 1px solid white;
    height: auto 51px;
    width: auto 163px;
    padding: 14px 36px;
    font-size: 16px;
}

.start h2 {
    margin: 0;
    margin-right: 20px;
}

.start a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.start a:hover {
    /* color: #ffcc00; Change the color on hover */
}

.hero-container {
    display: flex;
    background: black; /* Uncomment this line if you want a background color */
    justify-content: space-between;
    position: relative;
    width: fixed 1440px;
    height: fixed 669px;
}


.sec {
    background-color: white;
    color: black;
    padding: 20px;
    /* padding-left: 25px; */
    text-align: center;
    position: relative;
    z-index: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto 656px;
    height: auto 19px;
}

.sec img{
    width: 36px;
    height: 36px;
}

.sec h5 {
    font-size: 15px;
    color: black;
    /* padding-right: 150px; */
    padding: 7px;
}

.blu {
    color:blue;
}

.restt {
    padding-left: 50px;
    max-width: 50%;
    width: fixed 1294px;
    height: fixed 573px;
}

.restt h1, h2 {
    width: fixed 605px;
    height: auto 192px;
}

.restt h5 {
    width: fixed 553px;
    height: auto 84px;
}

/* .hire, */
.limit {
    border: 1px solid #a3a2a2; /* Border color */
    border-radius: 8px; /* Border radius for rounded corners */
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
}

.limit-text {
    max-width: 50%;
}
.pi {
    width: fixed 541px;
    height: fixed 482px;
    object-fit: contain;
    margin-left: 15px;
    max-width: 50%;
}

.hire{
    border: 1px solid #a3a2a2; /* Border color */
    border-radius: 8px; /* Border radius for rounded corners */
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
}

.pic {
    width:fixed 692px;
    height: fixed 692px;
    object-fit: contain;
    margin-right: -3rem;
    max-width: 50%;
}

.spacing{
    width:100%;
    justify-content: center;
    max-width: 1294px;
    padding: 0 73px;
    /* margin-left: 5px; */
    font-size: 16px;
    background-color: #FFF;
}


.building {
    /* background-color: rgb(10, 10, 15); */
    align-items: center;
    justify-content: center;
    padding-bottom: 80px;
}

.building h1 {
    font-size: 28px;
    line-height: 45px;
    background: radial-gradient(72.76% 72.69% at 50% 50%, #FFF 0%, rgba(255, 255, 255, 0.40) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-top: 0;
    padding-top: 35px;
}

.building h3 {
    color: rgba(255, 255, 255, 0.80);
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 175% */
}

.building h5{
    font-size: 10px;
    margin-bottom: 20px;
    color: #555;
    gap: 28px;
    line-height: 28px;
    font-weight: 500px;
    font-style: normal;
    justify-content: center;
}


.hire h1,
.limit h1 {
    font-size: 2em;
    margin-bottom: 5px;
    line-height: 15px;
}

.hire h2,
.limit h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.hire h5,
.limit h5,
.sec h5 {
    font-size: 10px;
    margin-bottom: 20px;
    color: #555;
    gap: 28px;
    line-height: 28px;
    font-weight: 500px;
    font-style: normal;

}

.hero-text{
     color: #FFF;
    /* font-family: Inter; */
    font-size:20px;
    line-height: 50px;
    padding-left: 50px;
    padding-top: 100px;
    width: fixed 372px;
    height: auto 128px;
    }

.hero-text h5 {
     font-size: 10px;
}

.hero-text input {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.hero-text input[type="text"] {
    width: 349px;
    height: 49px;
    padding: 10px;
    margin-bottom: 80px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}
   
.hero-text button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    outline: none;
    height: 49px;
}

.hero-text button:hover {
    background-color: #0056b3;
}

.fa-search {
    font-size: 18px
}

.hero-img {
     width: 500px;
    height: 350px;
    padding: 30px;
    position: absolute;
    right: 50px;
    top: 100px;
    z-index: 10px;
    }


.hire a,
.limit a,
.hero-text a,
.building a {
    border-radius: 8px;
    border: 0.5px solid #141414;
    padding: 5px 10px;
    color: #141414;
    text-decoration: none;
    background-color: white;
    /* justify-content: center;
    align-content: center; */
    gap: 10px;
    width: auto 163px;
    height: auto 53px;
}

/* .hire a:hover,
.limit a:hover,
.building a:hover {
    background-color: #e5b900;
} */

.work-line{
    background-color: #141414;
    position: relative;
}

.vl {
    border-left:#fff;
    height: fit-content;
}

.work {
    color: white;
    padding: 50px 20px;
    text-align: center;
    margin-top: 20px;
    background: rgba(245, 245, 245, 0.05)
    /* background-image: url(img/shield1.png);
    background-repeat: no-repeat; */
}

.work_ {
    position: relative;
    background: rgba(245, 245, 245, 0.05);
    padding: 100px 50px;
    backdrop-filter: blur(17px);
}

.work h1{
    font-size: 2em;
    margin-bottom: 20px;
}

.work-image {
    position: absolute;
    top: -47px;
}

.work_img {
    position: absolute;
    bottom: -206px;
    right: -1px;
    /* width: 200px;
    height: 200px; */
    /* padding-top: 10px; */
}


.work h3
/* .upload  */
{
    font-size: 1.5em;
    margin-top: 20px;
}

.work h5 {
    font-size: 16px;
    margin-bottom: 20px;
    color: white;
}

.work_ img {
    max-width: 100%;
    height: 122px;
    width: 122px;
    margin-top: 20px;
}

.create_ {
    display: flex;
    justify-content: flex-start;
}

.create_te {
    display: flex;
    justify-content: flex-start;

}

.upload {
    display: flex;
    justify-content: flex-end;
}

.upload_ {
    display: flex;
    justify-content: flex-end;
}

.verify {
    display: flex;
    justify-content: flex-start;
}

.verify_ {
    display: flex;
    justify-content: flex-start;
}

 .line-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    bottom: 0;
    margin: 5px;
}

.line-container::after {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    background-color: grey;
    width: 1px;
}

.fade-line {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
}

/* @keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
} */ */

.line_4 {
     height: 1px;
    border: 0;
    /* background: black; */
    width: 50%;
    border-radius: 50%;
    background: radial-gradient(180555862.77% 98.49% at 1.51% 0%, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.70) 48.47%, rgba(255, 255, 255, 0.00) 100%, rgba(255, 255, 255, 0.14) 100%);
    margin: 0 auto;
}

.line-4 {
    height: 1px;
    border: 0;
    /* background: black; */
    width: 50%;
    border-radius: 50%;
    background: radial-gradient(180555862.77% 98.49% at 1.51% 0%, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.70) 48.47%, rgba(255, 255, 255, 0.00) 100%, rgba(255, 255, 255, 0.14) 100%);
    margin: 0 auto;
  }

footer {
    background: linear-gradient(113deg, rgba(6,9,17,1) 30%, rgba(49,104,244,0.5) 100%, rgba(6,9,17,1) 50%);
}

.footer_ {
    display: flex;
    mix-blend-mode: hard-light;
    justify-content: space-between;
   
}

.aside {
    color: white;
    padding-right: 50px;
    font-family: Inter;
}

footer img {
    max-height: 40px;
    padding-left: 50px;
    padding-top: 10px;
}
